<!DOCTYPE html>
<html>
    <head>
        <title>BLOG APP</title>
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        <div class ="ui big inverted fixed menu">
            <div class="ui container">
                <div class="header item"><i class="icon code"></i>CB Blogs</div>
                <a href="/" class="item">Home</a>
                <a href="/blog/new" class="item">New Post</a>
            </div>

        </div>
    
